.signup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 15rem;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--text {
    font-size: 2rem;
    font-family: 'Oswald';
    font-weight: 700;
  }
}

.signupForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.signupInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signupButton {
  padding: 10px 20px;
  background-color: $color-primary;
  color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.switch-btn{
  background-color: $color-primary;
  text-decoration: none;
  color: $white;
  padding: 0.5rem;
  border-radius: $radius;
  font-weight: 700;
}
