.signin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; ;
  margin: 0 auto;
  margin-top: 15rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--text{
    font-size: 2rem;
    font-family: 'O'
  }
  }

  h1{
    font-size: 24px;
  }

  .signinForm{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }


