*{
  margin: 0;
  padding: 0;
}
.landingPage{
  background-image: linear-gradient(to right bottom, rgba(111, 164, 213, 0.596), rgba(110, 240, 196, 0.8)), url(https://images.pexels.com/photos/5538626/pexels-photo-5538626.jpeg?auto=compress&cs=tinysrgb&w=400);
  // background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;

  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;

    &--title{
      font-size: 2rem;
      font-weight: 700;
      color: $color-primary;
    }
    &--btn{
      padding: 0.5rem 1rem;
      background-color: $color-primary;
      border-radius: $btn-radius;
      color: $white;
      font-weight: 600;
    &-link{
      text-decoration: none;
      color: $white;

      &:hover{
        color: $black;
      }
    }
      &:hover{
        background-color: $color-primary-light;
        color: $black;
      }
  }
  }
    &__slogan{
      background-color: $white;
      text-align: center;
      margin: 20rem auto;
      color: $color-primary;
      font-size: 1.5rem;
      font-weight: 700;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;

      &--btn{
        margin: 2rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: $btn-radius;
        background-color: $color-primary;
        color: $white;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s;
        
        &-link{
          text-decoration: none;
          color: $white;
          &:hover{
            color: $black;
          }
        }

        &:hover{
          background-color: $color-primary-light;
        }
      }
    }
}
